<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunshine.ebook.mapper.UserMapper">

    <!-- type为实体类Book，包名已经配置，可以直接写类名 -->
    <resultMap id="userResultMap" type="com.sunshine.ebook.entity.Userinfo">
        <result column="userid" property="userid" jdbcType="INTEGER"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="phonenum" property="phonenum" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="userflag" property="userflag" jdbcType="INTEGER"/>
        <result column="usertype" property="usertype" jdbcType="INTEGER"/>
        <result column="checkcode" property="checkcode" jdbcType="VARCHAR"/>
        <result column="createtime" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>
        <result column="lastlogtime" property="lastlogtime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        userid, username, password, phonenum, email, userflag, usertype, checkcode, createtime, updatetime, lastlogtime
    </sql>
    
    <!-- 根据条件查询用户信息 -->
    <select id="getUserinfoByCondition" resultMap="userResultMap" parameterType="com.sunshine.ebook.entity.Userinfo">
        select
        <include refid="Base_Column_List" />
        from userinfo 
        <where>
        	<if test ="userid != null">
        		and userid = #{userid}
        	</if>
        	<if test ="username != null">
        		and username = #{username}
        	</if>
        	<if test ="password != null">
        		and password = #{password}
        	</if>
        	<if test ="phonenum != null">
        		and phonenum = #{phonenum}
        	</if>
        	<if test ="email != null">
        		and email = #{email}
        	</if>
        	<if test ="userflag != null">
        		and userflag = #{userflag}
        	</if>
        	<if test ="usertype != null">
        		and usertype = #{usertype}
        	</if>
        	<if test ="checkcode != null">
        		and checkcode = #{checkcode}
        	</if>
        </where>
    </select>

    <!-- 根据邮箱是否已注册 -->
    <select id="checkEmailIsRegist" resultMap="userResultMap" parameterType="com.sunshine.ebook.entity.Userinfo">
        select
        <include refid="Base_Column_List" />
        from userinfo
        <where>
        	<if test ="userid != null">
        		and userid = #{userid}
        	</if>
        	<if test ="username != null">
        		and username = #{username}
        	</if>
        	<if test ="password != null">
        		and password = #{password}
        	</if>
        	<if test ="phonenum != null">
        		and phonenum = #{phonenum}
        	</if>
        	<if test ="email != null">
        		and email = #{email}
        	</if>
        	<if test ="userflag != null">
        		and userflag = #{userflag}
        	</if>
        	<if test ="usertype != null">
        		and usertype = #{usertype}
        	</if>
        	<if test ="checkcode != null">
        		and checkcode = #{checkcode}
        	</if>
        </where>
    </select>

    <!-- 根据手机号是否已注册 -->
    <select id="checkPhoneIsRegist" resultMap="userResultMap">
        select
        <include refid="Base_Column_List" />
        from userinfo where phonenum = #{phonenum} and userflag = 0
    </select>

    <!-- 保存用户信息 -->
    <insert id="saveUserinfo" parameterType="com.sunshine.ebook.entity.Userinfo">
        insert into userinfo(username, password, phonenum, email, checkcode, createtime, updatetime, lastlogtime)
        values(#{username}, #{password}, #{phonenum}, #{email}, #{checkcode}, #{createtime}, #{updatetime},
        #{lastlogtime})
    </insert>

    <!-- 更新用户信息 -->
    <update id="updateUserinfo" parameterType="com.sunshine.ebook.entity.Userinfo">
        update userinfo
        <set>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="phonenum != null">
                phonenum = #{phonenum,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="userflag != null">
                userflag = #{userflag, jdbcType=VARCHAR},
            </if>
            <if test="usertype != null">
                usertype = #{usertype,jdbcType=VARCHAR},
            </if>
            <if test="checkcode != null">
                checkcode = #{checkcode,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                createtime = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime, jdbcType=TIMESTAMP},
            </if>
            <if test="lastlogtime != null">
                lastlogtime = #{lastlogtime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where userid = #{userid}
    </update>
    
    <!-- 校验验证码是否有效 -->
    <select id="checkCodeIsValid" parameterType="com.sunshine.ebook.entity.Userinfo" resultType="com.sunshine.ebook.entity.Userinfo">
    	select 
    	<include refid="Base_Column_List" /> 
    	from userinfo 
    	<where>
        	<if test ="email != null">
        		and email = #{email}
        	</if>
        	<if test ="phonenum != null">
        		and phonenum = #{phonenum}
        	</if>
        	<if test ="checkcode != null">
        		and checkcode = #{checkcode}
        	</if>
        	<if test ="timeout != null">
        		and date_add(updatetime, interval #{timeout} minute) >= now()
        	</if>
        </where>
    </select>
    
    <!-- 根据用户ID获取用户角色信息 -->
    <select id="getRolesByUserId" resultType="com.sunshine.ebook.entity.Role">
    	select b.roleid, b.name, b.description from user_role a, role b 
    	where a.roleid = b.roleid and a.userid = #{userid}
    </select>
    
    <!-- 根据角色ID获取权限信息 -->
    <select id="getPermissionsByRoleId" resultType="com.sunshine.ebook.entity.Permission">
    	select b.permissionid, b.name, b.description from role_permission a, permission b 
    	where a.permissionid = b. permissionid and a.roleid = #{roleid}
    </select>

</mapper> 